/dist*
.vscode
.venv
__pycache__
.env
*.log
/build
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
wheels
*.egg-info
.installed.cfg
*.egg
MANIFEST
performance
test/params
test/tinydb_data
document/api
.idea

GITSHA
GITREPO
BUILDDATE
LASTCOMMITDATE

sirin
test_data
